:root {
    --primary-color: #002244;
    --secondary-color: #87CEEB;
    --tertiary-color: #1ca9c9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
}

.title {
    background-color: var(--primary-color);
    height: 200px;
    justify-content: center;
    text-align: center;
    color: var(--tertiary-color);
}

.input-form, .history {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 30px;
    border: 6px solid var(--secondary-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
}

.card, .five {
    background-color: var(--tertiary-color);
    border: 6px solid var(--secondary-color);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 15px;
}

.card-body, .card-title, .text {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-size: medium;
    font-weight: bold;
}

.card-city {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-size: xx-large;
    font-weight: bolder;
}
